* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    width: 420px;
    height: 426px;
    margin: 50px;
    padding: 16px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.08), 0px 20px 32px rgba(96, 97, 112, 0.24);
    font-family: 'Wix Madefor Display', sans-serif;
}
.cross {
    display: flex;
    justify-content: flex-end;
}
h2 {
    margin-left: 16px;
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: 800;
}
.form-control {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.email {
    width: 356px;
    height: 48px;
    background-color: #FFFFFF;
    border:1px solid #CFD8DC;
    border-radius: 12px;
    padding: 7px 16px;
    color: #1A1A1A;
    font-weight: 400;
    font-size: 16px;
}
.email:hover {
    border: 1px solid #FFE44D;
    outline: none;
    caret-color: #ffd900;
}
.password {
    width: 356px;
    height: 48px;
    background-color: #FFFFFF;
    padding: 14px 16px;
    border: 1px solid #CFD8DC;
    border-radius: 12px;
    margin-bottom: 24px;
    color: #7B8E98;
    font-weight: 400;
    font-size: 16px;
}
p {
    font-size: 12px;
    width: 356px;
    height: 42px;
    color: #7B8E98;
    margin-bottom: 24px;
}
.form-reg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    font-weight: 700;
    font-size: 16px;
}
.reg {
    width: 356px;
    height: 48px;
    font-weight: 700;
    font-size: 16px;
    color: #1A1A1A;
    background: #FFE44D;
    border-radius: 55px;
    text-align: center;
    border: none;
}
.reg:hover {
    background-color: #f7d40b;
}
.entry {
    width: 356px;
    height: 48px;
    align-items: center;
    border: 1px solid #CFD8DC;
    border-radius: 87px;
    color: #1A1A1A;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}
.entry:hover {
    background-color: rgb(178, 175, 175);
}