.todo_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 286px;
    height: 47px;
    margin: 17px;
    padding-left: 10px;

    color: #ECF0F1;
    font-size: 20px;
    position: relative;
}

.close_icon {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}