@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1251px;
    background: #1ABC9C;

    font-family: 'Inter';
    font-weight: 400;
}
.content_div{
    margin: 80px;
}