* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
.container {
height: 100%;
}
.container {
    display: flex;
}
.container {
    height: 100%;
}
.form {
    width: 250px;
    aspect-ratio: 1 / 2;
    background: rgb(229, 229, 236);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 24px;
    border: 1px solid none;
}
.left,
.right {
width: 50%;
}
.left {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
figure {
    height: 100%;
    width: 100%;
    line-height: 0;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}